@import "../font/font.css";
//dinamic change variables=========>
:root {
  --multiply: 1;
  //var(--multiply) <=== copy this
}

//stattic scss compiling variables========>
$pink: #FEF7E5;
$violet: #6F1EAA;
$lightViolet: #C282F0;
$orange: #F7A500;
$lightOrange: #FFF7C2;
$blue: #DFF5F6;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::selection {
  background: pink;
  color: white;
}

body {
  font-family: Roboto-Regular, sans-serif;
}


ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: $violet;
}

header {
  background: white;
  height: 6.597vw;
  display: flex;
  align-items: center;

}

.navbar {
  width: 84.722vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  ul {
    display: flex;
    z-index: 2;

    li {
      margin: 0 0.972vw;
      font-size: 1.250vw;
      cursor: pointer;
    }
  }

  .logo {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      height: 2.639vw;
    }
  }

  .login-nav {
    z-index: 2;
    font-size: 1.250vw;
    display: flex;
    align-items: center;

    a {
      margin: 0 0.972vw;

      cursor: pointer;
    }
  }
}

.try-nav {
  margin: 0 0.972vw;
  font-family: Roboto-Bold, sans-serif;
  font-size: 1.250vw;
  background: #6F1EAA;
  border: none;
  outline: none;
  color: white;
  padding: 0.694vw 2.986vw;
  border-radius: 1.736vw;
  cursor: pointer;
}

main {
  background: $pink;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;

  .main-title {
    margin: 7.708vw 0 17.014vw 0;
    width: 43.667vw;
    font-family: Roboto-Regular, sans-serif;
    font-weight: 500;

    h1 {
      font-size: 3.819vw;
      line-height: 4.653vw;
      font-family: Roboto-Regular, sans-serif;
      font-weight: 400;
    }

    p {
      font-size: 1.389vw;
      margin: 2.639vw 0;
      line-height: 1.944vw;
    }
  }

  .right {
    position: absolute;
    right: 0;
    top: 0;
    height: 90%;
    width: 13.819vw;
  }

  .left {
    position: absolute;
    left: 0;
    top: 0;
    width: 8.194vw;
    height: 80%;
  }

  .center {
    position: absolute;
    left: 45%;
    bottom: 0;
    width: 24.306vw;
    height: 17.639vw;
  }
}

.number-one-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 84.722vw;
  margin: 0 auto;
  padding: 4.514vw 2.778vw;
}

.text-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 39.583vw;
  padding-right: 5.208vw;

  h2 {
    font-size: 3.056vw;
    margin-bottom: 2.639vw;
    font-weight: 400;
  }

  .image {
    width: 19.444vw;
    height: 26.181vw;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      position: absolute;
      object-fit: cover;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
}

.credo {
  padding-left: 7.292vw;

  .cards {
    h3 {
      color: #6F1EAA;
      font-size: 1.667vw;
      margin-bottom: 2.014vw;
    }

    p {
      font-size: 1.250vw;
      line-height: 1.944vw;
    }

    .ps {
      margin-top: 1.389vw;
    }
  }

}

.border {
  width: 100%;
  height: 0.069vw;
  background: #F7A500;
  margin: 2.431vw 0;
}

.how-works-wrap {
  width: 84.722vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 4.514vw 3.333vw;

  .how-works-card {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0 1.250vw;

    h3 {
      font-size: 1.667vw;
      color: #6F1EAA;
      margin: 2.222vw 0 0.833vw 0;
      font-weight: 400;
    }

    p {
      font-size: 1.250vw;
      line-height: 1.944vw;
    }
  }
}

.how-we-work {
  background: #FAF9F6;
  flex-direction: column;
  display: flex;
  align-items: center;
  padding: 4.514vw 0;

  h1 {
    font-size: 3.056vw;
    text-align: center;
    font-weight: 400;
  }
}

.circle-in-image {
  width: 13.333vw;
  height: 13.333vw;
  background: #FFF7C2;
  border-radius: 50%;
  display: grid;
  place-items: center;

  .image {
    width: 15.556vw;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .image:last-child {
    transform: translateY(-0.694vw);
  }
}


.support-and-practice {
  background: #F6F3FA;
}

.support-wrap {
  margin: 0 auto;
  width: 84.722vw;
  display: grid;
  grid-template-columns: 1fr 1fr;

  .image {
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .text {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;

    .text-wrap {

      h4 {
        font-size: 1.319vw;
        color: #F7A500;
        text-transform: uppercase;
        letter-spacing: 0.069vw;
      }

      h1 {
        font-weight: 400;
        font-size: 3.056vw;
        margin: 1.458vw 0 3.750vw 0;
      }

      p {
        font-size: 1.319vw;
        line-height: 1.920vw;
        margin-bottom: 2.014vw;
      }

    }

    .try-nav {
      align-self: flex-start;
    }
  }
}

.wild {
  padding: 4.028vw 0;
  display: flex;
  background: #FAF9F6;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h1 {
    font-size: 3.056vw;
    margin-bottom: 1.667vw;
  }

  h3 {
    font-size: 1.319vw;
    width: 44.597vw;
    line-height: 2.014vw;
  }
}

.wild-wrap {
  display: flex;
  margin: 5.833vw 0 3.403vw 0;

  .wild-card {
    border: 0.069vw solid $lightViolet;
    margin: 1.042vw;
    width: 26.667vw;
    height: 33.681vw;
    position: relative;
    padding: 2.500vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 16.528vw;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .text {
      height: 11.806vw;
      width: 21.667vw;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      h5 {
        font-size: 1.042vw;
        color: #F7A500;
      }

      h4 {
        font-size: 1.667vw;
      }

      p {
        line-height: 1.667vw;
        font-size: 1.181vw;
      }

      a {
        font-size: 1.181vw;
      }
    }
  }
}

.brands-wrap {
  background: #6F1EAA;
  padding: 2.604vw 0;
}

.brands {
  display: flex;
  justify-content: center;

  img {
    height: 6.042vw;
    margin: 0 2.604vw;
  }
}

.reviews {
  padding: 4.167vw 0 11.111vw 0;

  h1 {
    width: 100%;
    position: relative;
    text-align: center;
    font-size: 2.986vw;
    z-index: 3;

    img {
      position: absolute;
      top: 0;
      right: 4.861vw;
      width: 14.097vw;
      height: 14.097vw;
    }
  }

  .links {
    text-align: center;
    font-size: 1.389vw;
    margin: 2.778vw 1.875vw;
  }
}

.swiper-container {
  width: 100%;
  height: 24.583vw; //высота слайдера и блока
}

.block {
  width: 93%; //ширина блока
  height: 100%;
  background: #DFF5F6;
  border-radius: 2vw;
  padding: 4.167vw 2.778vw;
  display: flex;
  align-items: center;

  .image {
    width: 16.528vw;
    height: 16.528vw;
    border-radius: 50%;
    margin-right: 2.778vw;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .text {
    width: 49.583vw;
    font-size: 1.181vw;
    line-height: 2.014vw;

  }

  .author {
    display: flex;
    align-items: center;
    font-size: 1.389vw;
    margin-top: 1.319vw;

    .icon {
      width: 1.528vw;
      height: 1.528vw;
      margin-right: 1.111vw;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.swiper-slide {
  width: 80.000vw; //ширина слайдера
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  background: #48156D;
  color: white;
  padding: 3.889vw 0 4.722vw 0;

  a {
    color: white;
    font-size: 1.181vw;
  }

  .wrap {
    width: 77.083vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1.2fr 1fr 1fr;

    h2 {
      font-size: 1.319vw;
      font-weight: 400;
      color: #C282F0;
      margin-bottom: 1.250vw;
    }

    p {
      margin-bottom: 1.250vw;
      font-size: 1.181vw;
    }
  }
}

.call-or-text {
  .title {
    color: #C282F0;
  }
}
.social{
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .line-one{
    height: 1.667vw;
    display: flex;
    margin-bottom: 1.667vw;
    div{
      width: 1.667vw;
      height: 1.667vw;
      border-radius: 50%;
      margin-right: 1.667vw;
    }
  }
  .line-two{
    height: 1.667vw;
    display: flex;
    div{
      width: 1.667vw;
      height: 1.667vw;
      border-radius: 50%;
      margin-right: 1.667vw;
    }
  }
}
.ncity, .la{
  p{
    margin-bottom: 0 !important;
  }
  p:nth-child(3){
    margin-bottom: 1.250vw !important;
  }
}
